
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.heading {
    margin: 20px 0;
    color: #fff;
}
.border-right {
    border-right: 1px dotted #fff !important;
}
.navbar-nav {
    border-bottom: 1px solid #d3d3d3;
}
.nav-item:hover .nav-link{
    color: #ec7532;
}
.nav-link{
    color: #fff;
}
#navbarMovie .navbar-nav .nav-item{
    position: relative;
    padding: 0 20px;
}
#navbarMovie .navbar-nav .nav-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-image: linear-gradient(#fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all 1s;
    position: absolute;
    bottom: 0;
    left: 0;
}
#navbarMovie .navbar-nav .nav-item.active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(#fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all 1s;
}
#navbarMovie .navbar-nav .nav-item:hover:after{
    width: 100%;
}
#navbarMovie .navbar-nav .nav-item .nav-link{
    margin: 0 5px;
}
.carousel-item{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.carousel-caption p{
    font-size: 1rem;
    line-height: 2rem;
}
.carousel-caption h1{
    font-size: 2rem;
    line-height: 3rem;
}
.pg{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
}
.btn-trailer{
    margin: 0 20px;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(#fbbd61, #ec7532);
    position: relative;
    overflow: hidden;
}
.btn-trailer:hover.btn-trailer::before{
    opacity: 1;
    width: 120%;
    transform:skew(30deg) translateX(0%);
}
.btn-trailer::before{
    content: "";
    position: absolute;
    top: -8px;
    left: -15px;
    background: rgba(232, 126, 4, 1);
    display: block;
    width: 120%;
    height: 120%;
    transform: skewX(30deg) translateX(-100%);
    /* opacity: 0; */
    transition: all 0.5s;
    z-index: 0;
}
.carousel-caption .btn-trailer span{
    position: relative;
    z-index: 100;
    height: 100%;
    display: block;
}

/* NEW IN */
.newin-heading{
    padding: 30px 0;
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #ec7532;
    position: relative;
}
.newin-heading::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 5%;
    background-image: linear-gradient(#fbbd61, #ec7532);
}
.newin__content{
    position: relative;
}
.newin__content-item{
    position: relative;
}
.newin-img img{
    width: 100%;
    border-radius: 10px;
}.newin-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.newin-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    background-image: linear-gradient(to bottom,#fbbd61,#ec7532);
    width: 0%;
    height: 100%;
    transform: skewX(30deg);
    opacity: 0.9;
    transition: ease-in-out 0.5s;
}
.newin__name p{
    font-size: 1rem;
    text-align: center;
    padding: 20px 0;
}
.newin__icon-list{
    display: flex;
    justify-content: center;
}
.newin__icon-list li{
    padding: 0 5px;
    list-style: none;
}
.newin__icon-list li i{
    font-size: 1rem;
    color: #fbbd61;
}
.newin-overlay{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    opacity: 0;
    transition: all 0.5s;
    transform: scale(0.9);
    z-index: 10;
}
.newin-overlay i{
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}
.newin-overlay p:nth-child(2){
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 5px;
    padding-top: 10px;
}
.newin-overlay p:nth-child(3){
    color: #fff;
    font-size: 1rem;
}
.newin__content-item:hover .newin-img::before{
    width: 190%;
}
.newin__content-item:hover .newin-overlay{
    opacity: 1;
    transform: scale(1);
}
.newin-btn{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 105%;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}
.newin-btn button{
    background: none;
    border: none;
    outline: none;
}
.newin-btn button i{
    font-size: 2rem;
    color: #ec7532;
}
/* END NEW IN */
#showTime{
    margin: 100px 0;
}
.movies{
    margin-top: 30px;
}
.movie__img img{
    border-radius: 5px;
}
.text__border{
    padding: 10px;
    border-radius: 50%;
    background: #4a4a4a;
    color: #fff;
}
.movie__details p:nth-child(1){
    color: #ec7532;
    font-size: 1rem;
}
.movie__details h2:nth-child(2){
    font-size: 1.2rem;
    font-weight: 300;
}
.movie__details p:nth-child(3){
    font-size: 1rem;
    color: #a1a1a1;
}
.movie__details p:nth-child(4){
    font-size: 1rem;
    color: #ec7532;
    transition: all 0.5s;
}
.movie__details p:nth-child(4):hover{
    color: #000;
}

/* comingSoon */
#comingSoon{
    background: rgba(0, 0, 0, 0.9);
}
.bg__img{
    background-image: url(../img/slide-7.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.comingsoon-slides{
    padding: 40px 0;
}
.coming-slides__heading{
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 1px solid #4a4a4a;
    padding: 10px 0;
    position: relative;
}
.coming-slides__heading::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 10.5%;
   height: 3px;
   background: #ec7532;
}
.coming-slides__item{
    padding: 30px 0;
}
.slide-content p:nth-child(1){
    font-size: 1rem;
    color: #ec7532;
    letter-spacing: 2px;
}
.slide-content p:nth-child(2){
    font-size: 1.5rem;
    color: #fff;
}
.slide-content p:nth-child(3) i.fa.fa-star{
    font-size: 0.8rem;
    color: #fbbd61;
    padding-right: 2px;
}
.slide-content p:nth-child(3) i.fas.fa-calendar-minus{
    font-size: 0.8rem;
    color: #fff;
    padding: 0 5px;
}
.slide-content p:nth-child(3) span{
    font-size: 0.8rem;
    color: #fff;
    padding: 0 5px;
}
.slide-content p:nth-child(4){
    font-size: 1rem;
    color: #fff;
}
.slide-content p:nth-child(5){
    font-size: 1rem;
    color: #ec7532;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.slide-content p:nth-child(5):hover{
    color: #fbbd61;
}
.comingsoon-play__link{
    position: relative;
}
.comingsoon-play__link img{
    width: 100%;
}
.comingsoon-play__link i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 2rem;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ec7532;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
}
.comingsoon-play__link:hover.comingsoon-play__link i{
    transform: scale(.8);
}

/* end comingSoon */
/* slick */
.slick{
    background: #000;
    padding: 50px 0;
    position: relative;
}
.slick-item_img{
    border-radius: 10px;
    position: relative;
    opacity: 0.35;
    transition: all 0.5s;
}
.slick-active{
   opacity: 1;
}
.slick-item img{
    border-radius: 10px;
}
.slick-item:hover .slick-item_img{
    opacity: 1;
}
.slick-item h2{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
.slick-item p {
    font-size: 0.8rem;
    color: #a1a1a1;
    text-align: center;
}
.slick-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    display: flex;
    justify-content: space-between;

}
.slick-btn button{
    background: none;
    border: none;
    outline: none;
}
.slick-btn button i{
    font-size: 2rem;
    color: #ec7532;
}
/* end slick */

/* contact */
#contact{

}
.contact-info{
    padding: 40px 0;
    text-align: center;
}
.contact-info p{
    font-size: 1.5rem;
}
.contact-info h1{
    font-size: 2.5rem;
    color: #ec7532;
}
/* end contact */
/* footer */
#footer{
    background: #000;
    padding: 60px 0 20px 0;
}
.footer-item h2{
    font-size: 1.2rem;
    color: #ec7532;
    padding-bottom: 20px;
}
.footer-item ul li{
    list-style: none;
    padding: 5px 0;
}
.footer-item ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    transition: all 0.5s;
}
.footer-item ul li a i{
    font-size: 0.9rem;
    color: #d3d3d3;
    padding-right: 10px;
    transition: all 0.5s;
}
.footer-item ul li:hover i{
    color: #fbbd61;
}
.footer-item ul li:hover a{
    color: #fbbd61;
}
.footer-coppyright{
    padding-top: 20px;
    border-top: 1px solid #4a4a4a;
}
.footer-coppyright p{
    font-size: 1rem;
    color: #fff;
}
/* end footer */